{{ define "Edit" }}
  {{ template "Header" }}
    <title>Edit</title>
  </head>
    {{ template "Menu" }} 
   <h2>Edit Buku</h2>  
 
    <form method="POST" action="/buku/update?id={{ .Id }}">
			<table>
				<tr>
					<td>Penulis</td>
					<td>:&nbsp;<input type="text" name="penulis" id="penulis" value="{{ .Penulis }}"/></td>
				</tr>
				<tr>
					<td>Judul</td>
					<td>:&nbsp;<input type="text" name="judul" id="judul" value="{{ .Judul }}"/></td>
				</tr>
				<tr>
					<td>Kota</td>
					<td>:&nbsp;<input type="text" name="kota" id="kota" value="{{ .Kota }}"/></td>
				</tr>
				<tr>
					<td>Penerbit</td>
					<td>:&nbsp;<input type="text" name="penerbit" id="penerbit" value="{{ .Penerbit }}"/></td>
				</tr>
				<tr>
					<td>Tahun</td>
					<td>:&nbsp;<input type="text" name="tahun" id="tahun" value="{{ .Tahun }}"/></td>
				</tr>
			</table>
			<button type="submit">Simpan</button>
		</form>
  {{ template "Footer" }}
{{ end }}